extends layout

block content
  pre= JSON.stringify(userlog)
  div.container
    a#logo(href='/') Smart Scales
    a.logout.login-hint.right(href='logout/') Logout
    span.login-hint.right= 'Hello ' + user.firstName
  ul.list-group
    each entry in scales
      a(href='/scalepractice/' + entry._id + '/' + (entry.exerciseId ? entry.exerciseId : ''))
        li.list-group-item
          span.right.badge= (entry.bpm?entry.bpm:15)+ 'bpm'
          div.scale-name= entry.displayName
          div.image-holder
            img.piano-scale(src='/images/scales/' + entry._id + '.png')

