extends layout

block content
  div.container
    a#logo(href='/') Smart Scales
    a.logout.login-hint.right(href='logout/') Logout
    span.login-hint.right= 'Hello ' + user.firstName
  ul.list-group
    each entry in scales
      a(href='/scalepractice/' + entry.name)
        li.list-group-item
          span.right.badge= 100 + 'bpm'
          div.scale-name= entry.displayName
          div.image-holder
            img.piano-scale(src='/images/scales/' + entry.name + '.png')

