extends layout

block content
  ul.list-group
    each entry in scales
      a(href='/scalepractice/' + entry._id + '/' + (entry.exerciseId ? entry.exerciseId : ''))
        li.list-group-item
          span.right.badge= (entry.bpm)+ 'bpm'
          div.scale-name= entry.displayName
          div.image-holder
            img.piano-scale(src='/images/scales/' + entry._id + '.png')

