extends layout

block content
  div.container
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        h1.text-center.login-title Hello #{user.firstName} 
        h1.text-center.login-title LOTS OF SCALES
        a(href='logout/') Logout
    ul
      each entry in docs
        li= entry.displayName
        img(src='/images/scales/' + entry.name + '.png')
