doctype html
html
  head
    title= title
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="/javascripts/usermenu.js")
    link(href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet") 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/piano.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    div.container
      a#logo(href='/') Smart Scales
      if user
        .right.user-section 
          img(src=user.image)
    .hidden.user-menu(tabindex='-1')
      a.menu-entry(href='/settings') Settings
      a.menu-entry(href='/tutorial') How to use this app
      a.menu-entry(href='/tips') Practising tips
      a.menu-entry(href='/logout') Logout

    block content
