extends layout

block content
  div.body-container

    h1 Practicing Tips
    ul
      li
        a(href='') General Tips
      li
        a(href='')
          | Dan the Composer's 
          i Water Pianism 
          | Philosophy
      li
        a(href='') Other Useful Resources
      li
        a(href='') Recommended Listening

    h2 General Tips
    p
      ul.tips
        li
          div
            b Play musically!
          | It's easy to think of scales as robotic, since they are repetitive and logical - but a machine cannot play good scales. Playing scales and arpeggios should be as musical as any piece of music you play. There is no time to switch into "scale mode". A quote from Chuan C. Chang's  
          a(href='http://fundamentals-of-piano-practice.readthedocs.io/en/latest/index.html') book
          |  puts it nicely:
          blockquote 
            p We can never play scales too well. When practicing scales, always try to accomplish something – smoother, softer, clearer, faster. Make the hands glide, the scale sing; add color, authority or an air of excitement.
        li
          div
            b Try not to watch your hands
          | This can be difficult in the beginning while getting familiar with the keyboard and the various keys, but once you start to gain speed, you should't need to look down below for orientation. Doing so will hinder your speed as you progress as you are relying on a visual cue rather than muscle memory. Concious effort to avoid this should be practiced!
        li
          div
            b Get a mentor
          | If you are beginning and it's possible, try to get a teacher to help you learn. There are teachers available in most places for both graded examinations and for hobbyist playing - or if there are none close, even online! This app serves as a guide for tracking and practicing scales and arpeggios, but will and can not give you feedback. A teacher can provide this kind of feedback and guide you much quicker than you would otherwise alone. This is not the general case, but for most, a good teacher will be very helpful. This app can be seen somewhat as a teacher's tool, but can also be used if you go solo.
        li
          div
            b Don't play too fast
          | If you are making major mistakes while going through the excercises, then 
          em slow down
          | ! Increasing the tempo on a bad run will only give you a false sense of achievement and errors will potentially be etched into your muscle memory which can be hard to correct. Only increase tempo when you play fluidly at the current one.
        li
          div
            b Have a good internal sense of rhythm
          | Using a metronome is very good practice and helps tremendously with developing rhythm and should be used as often as possible, but don't rely on one to play clean, even scales at a good approximate tempo. You can't rely on metronomes in performances, jamming sessions, or graded exams so it's necessary to be able to play without a metronome. To do this in Smart Scales, just turn the volume down on your phone. :) 
        li
          div
            b Practice regularly
          | To begin with, try to practice your scales and arpeggios regularly, maybe about four sessions a week, increasing that to suit once you advance. A session is to practice scales/arpeggios from varied keys until you begin to lose concentration. Scales are really fun to practice once you follow the main point from above: always play musically.
 
    h2
      | Dan the Composer's 
      i Water Pianism 
      | Philosophy
    p 
      | I have long been an admirer of the piano playing and jazz philosophy
      | of Daniel Bennet. His 
      a(href='http://piano-jazz.blogspot.ie/2016/12/the-internal-metronome.html') blog
      |  and 
      a(href='https://www.youtube.com/channel/UCeTACUFRbyQUdEBRbVDu7gw') YouTube
      |  videos made me look at the piano with a new focus, and made me look outside of what I had previously known. This app serves as a prerequisite for not only graded examinations, but also his method of teaching, which places appropriate importance on knowing your major scales fluently and fluidly. 

    p
      | I reached out to Daniel while this app was in developement and he gave me some really good pointers on usability and content, which has helped a lot to improve this app.

    p
      | You can watch a really informative video by Daniel on scales 
      a(href='https://www.youtube.com/watch?v=heEVryaj-wI') here
      | . A lot of the ideas expressed here will really help your scales along.

    h2 Other Useful Resources
    
    p Chang's book
    p Bald arpeggio guy
    p On your marks
    
    
