.piano {
  width: 100%;
  padding-bottom: 34%;
  margin-bottom: 18px;
  position: relative;
}

.piano .keys {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.piano .keys span {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.piano .c,
.piano .d,
.piano .e,
.piano .f,
.piano .g,
.piano .a,
.piano .b
{
  margin-left:-2px;
  display: inline-block;
  width: 7.2%;
  border: 2px solid #333;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.piano .db,
.piano .eb,
.piano .gb,
.piano .ab,
.piano .bb {
  position: absolute;
  height: 66%;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: black;
  width: 69%;
  left: -40%;
  margin-top: -2px;
  box-shadow: 2px 2px 1px 0px rgba(1,1,1,0.32);
}

.piano .pressed {
  background-color: #ff373d;
}
