body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  color: #444;
  font-kerning: none;
}

ul a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-weight: normal;
}

blockquote {
  font-style: italic;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

.hidden {
  display: none;
}

.body-container {
  padding: 15px;
}

ul.tips a {
  color: blue;
}

.user-menu {
  position: absolute;
  top: 29px;
  right: 19px;
  background: white;
  z-index: 100;
  border: 2px solid #CCC;
  box-shadow: 4px 4px 6px 0px;
  outline: 0;
}

.menu-entry {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.menu-entry:last-child {
  border: 0;
}

.login-hint {
  padding-right: 14px;
  line-height: 22px;
  font-size: 14px;
}

.logout.login-hint {
  text-decoration: underline;
  padding-right: 0;
  color: #444;
}

.scale-name {
  font-size: 24px;
}

.keyholder {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fcfcfc;
  box-shadow: 2px 2px 2px #888888;
  display: inline-block;
  width: 20%;
  margin: 2.5%;
  text-align: center;
  padding: 25px 0;
  box-sizing: border-box;
  border-radius: 5px;
  color: #444;
  font-size: 20px;
}
.keyholder.wide {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  font-weight: bold;
  background-color: #fff4f4;
}

span.badge {
  border-radius: 4px;
  background-color: #F44E53;
  padding: 4px 8px;
  color: #fefefe; 
}

li.list-group-item {
  padding: 20px 15px;
}

.right {
  float: right;
}

#logo {
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  color: #444;
}

div.container {
  background: #f7f7f7;
  border-bottom: 1px solid #888;
  padding: 15px 20px;
  width: 100%;
  box-sizing: border-box;
}

.user-section {
  background: url(/images/arrow.png) no-repeat;
  background-position: right center;
  width: 47px;
  margin-top: -5px;
}

.user-section img {
  height: 28px;
  border: 2px solid;
  border-radius: 50%;
}

.exercise-container h3 {
  padding: 5px;
}

ul.list-group {
  list-style-type: none;
  padding-left: 0;
}

li.list-group-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 7px 15px;
  background-color: #fcfcfc;
  box-shadow: 2px 2px 2px #888888;
}
li.list-group-item:hover {
  background-color: #fafafa;
}
li.list-group-item:active {
  background-color: #f6f2f2;
}
div.image-holder {
  text-align: center;
}

.piano-scale {
  width: 70%;
  max-width: 270px;
  max-width: 270px;
  margin: 10px;
}

.main-scale {
  padding: 23px;
}

.main-scale .image-holder {
  padding-top: 8px;
}

.progress {
  display: inline-block;
  border-radius: 50%;
  background-color: #f44e53;
  width: 40px;
  height: 40px;
  margin: 5px;
  box-shadow: 1px 1px 1px #999;
  color: #542424;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;  
  font-weight: bold;
}

.progress.complete {
  color: #444;
  background-color: #8bd45d;
}

.progress-container {
  text-align: center;
}

.progress-holder {
  width: 100%;
}

.todo {
  padding: 10px;
}

.todo h2 {
  font-weight: normal;
}

.todo ul {
  list-style: none;
  padding: 0;
  margin-left: -17px;
}

.todo ul li::before {
  content: '';
}

.todo ul li {
   margin: 0;
   padding: 3px 10px 5px 20px;
   border-bottom: 1px solid #ccc;
   color: #444; 
   line-height: 32px;
   height: 32px;
}

.metronome-holder {
  width: 100%;
  text-align: center;
}

button {
  background-color: #8bd45d;
  border: 0;
  border-radius: 0.4rem;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 3.2rem;
  outline: 0;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  max-width: 200px;
}

button:hover {
  background-color: #8ed95f;
}

button:active {
  background-color: #8fe462;
}

.modal-bg {
    position: fixed;
    overflow: hidden;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.5);
    opacity: 1;
    z-index: 100;
}

.modal-bg .modal {
  margin: 0 auto;
  width: 270px;
  height: 157px;
  background-color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 25px;
}

.modal-bg .modal.complete {
  height: 190px;
}

.modal .close-modal {
    background-image: url(/images/close.png);
    background-position: center;
    padding: 18px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

.modal-bg .modal .message {
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
}
.modal-bg .modal .fail,
.modal-bg .modal .retry {
  width: 115px;
  margin: 10px;
  padding: 0;
  margin-top: 24px;
  color: #333;
}
.modal-bg .modal .fail {
  background-color: #ff4646;
}
.modal-bg .modal .retry {
  background-color: #ffad16;
}
.modal-bg .modal.complete .success {
  margin: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
}

.modal-bg .modal.complete button {
  line-height: 15px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.modal-bg .modal .go-home {
  float: right;
  color: #444;
  text-decoration: none;
}
.modal-bg .modal .go-home span {
  text-decoration: underline;
}

.hamster {
  margin-top: 33px;
  width: 100%;
  background-image: url(/images/grass.png);
  background-position: bottom center;
  background-repeat: no-repeat; 
}

.hamster img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.select-style 
{
  background: #FFF;
  display: inline-block;
  color: #525252;
  font-weight: 300;
  font-family: 'Cabin', sans-serif;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
  -moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
  box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
  border: solid 1px #DADADA;
  position: relative;
  cursor: pointer;
  left: -3px;
  margin-right: 2px;
}

.select-style select
{
  -webkit-appearance: none;
  appearance:none;
  background:none;
  background:transparent;
  border:none;
  outline:none;
  cursor:pointer;
  padding:7px 10px;
  text-align-last: center;
}

.display-bpm {
  width: 30px;
  text-align: center;
  display: inline-block;
}

.plus-minus {
  width: 27px;
  height: 27px;
  -webkit-appearance: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid #ccc;
  color: #aaa;
  background-color: white;
  outline: none;
  margin-left: 5px;
  margin-right: 5px;
}
